/* Additional styles for the DASHBOARD button */
.items a {
    padding: 10px 21px;
    color: white;
    font-weight: bold;
    background-color: #3ac4fa; /* Blue background */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
    text-decoration: none; /* Remove underline */
}

.items a:hover {
    background-color: #2a92cc; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Adjust other existing styles if necessary */
.ant-page-header.ant-page-header-ghost {
    padding: 16px 0;
}
.ant-dropdown-menu-item.ant-dropdown-menu-item-active, 
.ant-dropdown-menu-item.ant-dropdown-menu-submenu-title-active, 
.ant-dropdown-menu-item:hover, 
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-item-active, 
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-submenu-title-active, 
.ant-dropdown-menu-submenu-title:hover {
    background-color: #3ac4fa !important;
}
.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    border-bottom: 1px solid #c5c5c5;
}

@media screen and (max-width: 800px) {
    .logo-nav{
        width: 80px;
        object-fit: cover;
    }
}
